* {min-width: 500px;}

body {
    transition: all 0.8s;
}

.clock, .hex {
    width: 100%;
    position: absolute;
    left: 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.clock {
    height: calc(100% * 8/9);
    top: 0;
}
.hex {
    height: calc(100% * 2/3);
    bottom: 0;
}

h1, h2 {
    width: 100%;
    margin: 0;
    font-family: "open sans";
    font-weight: 300;
    color: white;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
}
h1 {
    font-size: 120px;
}
h2 {
    font-size: 30px;
}

@media all and (max-width: 768px) {
    h1 {font-size: 96px;}
    h2 {font-size: 28px;}
    .hex {height: calc(100% * 13/16);}
}
